#header{
 
    height: 6.4rem
}
#header_wrap{
 
    height : 100%;
    width: 1024px;
    margin: auto;
    display: flex;
    flex-direction: row;
}
 
#header_content {
	display: flex;
 justify-content: center;
  align-items: center;
}